* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    --size--: 85vh;
    --main-color: #010c15;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    line-height: 3rem;
}

header, section {
    text-align: center;
    padding: 8vh 5vw;
}

p, h1, h3, label {
    color: white;
}

hr {
    box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.2);
    width: 90vw;
    position: relative;
    left: 5vw;
    opacity: 0.5;
    border: 0;
    border-top: 1px ridge blue;
}

footer {
    height: calc(100vh - var(--size--));
    background: linear-gradient(rgb(0, 13, 26), rgb(5, 5, 10));
    text-align: center;
}

nav {
    position: fixed;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(1, 12, 21, 0.9);
    width: 100%;
    transition: all ease-in-out 300ms;
}

nav:hover {
    background-color: rgb(5, 18, 35, 1);
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    color: #007aff;
}

button {
    padding: 20px 30px;
    border: 1px ridge grey;
    border-radius: 10px;
    background-color: rgb(2, 14, 21);
    color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.12);
    transition: all 300ms ease-in-out;
}

button:hover {
    transform: scale(1.05);
    cursor: grab;
}

.left {
    text-align: left;
}

#main {
    margin: 0;
    padding: 0;
    min-height: var(--size--);
}

#title {
    font-size: 300%;
}

#chat-area {
    position: fixed;
    margin: 0;
    padding: 1vh 1vw;
    right: 5vw;
    bottom: 5vh;
    border-radius: 0.4vw;
    border: 1px solid rgb(30, 37, 60);
    background-color: rgb(3, 3, 41);
    max-width: 15vw;
}

#chat-prev {
    margin: 0;
    width: 100%;
    height: 30vh;
    background-color: rgba(4, 4, 85, 0);
    overflow-y: scroll;
    overflow-x: auto;
}

#chat-prev label {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    line-height: 0.1px;
}