<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | About</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/text.css" type="text/css">
    <link rel="stylesheet" href="css/about.css" type="text/css">
    <link rel="icon" href="media/icon.png"/>
</head>
<body>
    <div id="main">
        <header>
            <h1 id="title"><%- title %></h1>
        </header>
        <main>
            <section class="left">
                <%- text %>
            </section>
            <section class="left">
                <h1>Also See</h1>
                <br>
                <div id="names">
                    <a href="about?name=alex_steiner">Alex Steiner</a>
                    <a href="about?name=fotios_vaitsopoulos">Fotios Vaitsopoulos</a>
                </div>
            </section>
        </main>
    </div>
    <input type="hidden" id="logged-in" value="<%= isLoggedIn %>">
    <input type="hidden" id="chats" value="<%= chats %>">
    <script type="text/javascript" src="../js/script.js"> </script>
</body>
</html>