<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | Admin</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/admin.css" type="text/css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <div id="main">
        <header>
            <h1 id="title">Sign In</h1>
        </header>
        <main>
            <section>
                <div id="g_id_onload"
                    data-client_id="910242255946-1ai6ut8t5uj9quviagp776rc52b9kdos.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="onSignIn"
                    data-itp_support="true">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="filled_black"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left">
                </div>
            </section>
        </main>
    </div>
    <input type="hidden" id="logged-in" value="<%= isLoggedIn %>">
    <input type="hidden" id="chats" value="<%= chats %>">
    <script type="text/javascript" src="../js/script.js"> </script>
    <script type="text/javascript" src="../js/admin.js"> </script>
</body>
</html>