<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | Order</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/order.css" type="text/css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE8n70XnBigOGU34Lhd1YvrBAjs3TAI70&libraries=places"></script>
</head>
<body onload="initAutocomplete()">
    <div id="main">
        <header>
            <h1 id="title">Order</h1>
        </header>
        <main>
            <section id="buying-section">
                <div id="gallery-container">
                    <button id="prev-button" onclick="scrollGallery(-1)" style="border-color: black;">&#10094;</button>
                    <div id="gallery">
                        <img src="https://camo.githubusercontent.com/4e7828cccfd026e02b28ada34d7b18b649cc5c4bd52413ea7ed5e9e4cade54ea/68747470733a2f2f63646e2e63732e31776f726c6473796e632e636f6d2f66652f30642f66653064666366612d623736322d343363612d393531392d3333343234343961333366622e6a7067" alt="Gallery image 1">
                        <img src="https://camo.githubusercontent.com/4e7828cccfd026e02b28ada34d7b18b649cc5c4bd52413ea7ed5e9e4cade54ea/68747470733a2f2f63646e2e63732e31776f726c6473796e632e636f6d2f66652f30642f66653064666366612d623736322d343363612d393531392d3333343234343961333366622e6a7067" alt="Gallery image 2">
                        <img src="https://camo.githubusercontent.com/4e7828cccfd026e02b28ada34d7b18b649cc5c4bd52413ea7ed5e9e4cade54ea/68747470733a2f2f63646e2e63732e31776f726c6473796e632e636f6d2f66652f30642f66653064666366612d623736322d343363612d393531392d3333343234343961333366622e6a7067" alt="Gallery image 3">
                    </div>
                    <button id="next-button" onclick="scrollGallery(1)" style="border-color: black;">&#10095;</button>
                </div>
                <div id="details">
                    <figcaption>Gemini Sight Glasses at <strong>$ 200.00</strong></figcaption>
                    <div class="inline-inputs">
                        <input type="text" placeholder="Address" id="address" name="address" required>
                    </div>
                    <button id="buy-button" onclick="onGooglePayButtonClicked()">Buy Now</button>
                </div>
            </section>
        </main>
    </div>
    <input type="hidden" id="logged-in" value="<%= isLoggedIn %>">
    <input type="hidden" id="chats" value="<%= chats %>">
    <script type="text/javascript" src="../js/script.js"></script>
    <% if (isLoggedIn) { %>
        <script type="text/javascript" src="../js/order.js"></script>
        <script async src="https://pay.google.com/gp/p/js/pay.js" onload="onGooglePayLoaded()"></script>
    <% } else  { %>        
         <script>window.location = "/admin"</script>   
    <% } %>
    <script>
        let count = 0;
        let currentImageIndex = 0;

        function scrollGallery(direction) {
            const gallery = document.getElementById('gallery');
            const images = gallery.getElementsByTagName('img');
            const nextButton = document.getElementById('next-button');
            const prevButton = document.getElementById('prev-button');
            
            if (direction === 1 && count >= 2) {
                nextButton.disabled = true;
                nextButton.style.color = 'gray'; 
                return;  
            } else if (direction === -1 && count <= 0) {
                prevButton.disabled = true;
                prevButton.style.color = 'gray';
                return;  
            }

            count += direction;

            nextButton.disabled = count >= 2;
            prevButton.disabled = count <= 0;
            nextButton.style.color = nextButton.disabled ? 'gray' : 'white'; 
            prevButton.style.color = prevButton.disabled ? 'gray' : 'white'; 

            currentImageIndex = (currentImageIndex + direction + images.length) % images.length;
            gallery.scrollTo({
                left: currentImageIndex * gallery.clientWidth,
                behavior: 'smooth'
            });
        }

        document.getElementById('prev-button').disabled = count <= 0;
        document.getElementById('next-button').disabled = count >= 2;
        document.getElementById('prev-button').style.color = 'gray';
        document.getElementById('next-button').style.color = 'white';

    </script>
</body>
</html>
