#names {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

#names a {
    color: black;
    text-align: center;
    border: 2px solid rgb(106, 108, 114);
    border-radius: 10px;
    width: 25vw;
    padding: 5px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    background-color: #8ab4f8;
}

#names a:hover {
    transform: scale(1.1);
    cursor: grab;
}

@media screen and (max-width: 600px) {
    #names {
        font-size: 0.9rem;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #names a {
        width: 40vw;
    }
}