* {
    margin: 0;
    padding: 0;
}

html, body {
    --size--: 85vh;
    --main-color: rgb(19, 19, 20);
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-color);
    line-height: 3rem;
    font-family: "Google Sans", "Helvetica Neue", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: table;
}

body {
    counter-reset: mmlEqnNo 0 katexEqnNo 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

header, section {
    text-align: center;
    padding: 0 5vw;
    padding-top: calc(12vh + 20px);
    flex: 1;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    flex: 1;
}

p, h1, h3, label, ul {
    color: white;
}

ul {
    margin-left: 3vw;
}

hr {
    box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.2);
    width: 90vw;
    position: relative;
    left: 5vw;
    opacity: 0.5;
    border: 0;
    border-top: 1px ridge blue;
    z-index: 0;
}

footer {
    align-items: center;
    background-color: rgb(32, 33, 36);
    color: rgb(227, 227, 227);
    column-gap: 24px;
    display: flex;
    justify-content: flex-start;
    padding: 32px;
    row-gap: 24px;
    max-width: 100%;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    margin-top: auto;
}


footer img {
    color: rgb(85, 26, 139);
    cursor: auto;
    display: inline;
    height: 24px;
    opacity: 0.63;
    width: 74px;
    -webkit-font-smoothing: antialiased;
}

footer a {
    color: rgb(196, 199, 197);
    cursor: auto;
    display: block;
    font-family: "Google Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    width: 105.40625px;
    -webkit-font-smoothing: antialiased;
}

footer span {
    color: rgb(196, 199, 197);
    cursor: auto;
    display: inline;
    font-family: "Google Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}

nav img {
    width: 30%;
}

nav {
    z-index: 1;
    position: fixed;
    display: grid;
    align-items: center;
    grid-template-columns: 12fr 4fr 4fr 4fr 4fr 7fr 4fr 1fr;
    background-color: rgb(19, 19, 20);
    width: 100%;
    transition: all ease-in-out 300ms;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}

nav a:hover {
    font-weight: bold;
    border-bottom: 2px white solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

nav a[href=admin], nav a[href=logout] {
    border: 2px solid rgb(34, 40, 53);
    border-radius: 20px;
    transition: all 300ms ease-in-out;
    background-color: lightblue;
    color: black;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

nav a[href=admin]:hover, nav a[href=logout]:hover {
    transform: scale(1.05);
    font-weight: bold !important;
}

button {
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: 300ms ease-in-out;
}

button:hover {
    transform: scale(1.05);
    cursor: grab;
}

.left {
    text-align: left;
}

.chat-img {
    width: 180%;
}

#ignore {
    text-align: left;
}

#ignore:hover {
    font-weight: normal;
    border-bottom: none;
}

#main {
    margin: 0;
    padding: 0;
    flex: 1;
    min-height: var(--size--);
}

#title {
    margin-top: 30px;
    background-attachment: scroll;
    background-clip: text;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(74deg, rgb(66, 133, 244) 0px, rgb(155, 114, 203) 9%, rgb(217, 101, 112) 20%, rgb(217, 101, 112) 24%, rgb(155, 114, 203) 35%, rgb(66, 133, 244) 44%, rgb(155, 114, 203) 50%, rgb(217, 101, 112) 56%, rgb(19, 19, 20) 75%, rgb(19, 19, 20) 100%);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: 400% 100%;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 70px;
    font-weight: 500;
    height: 80px;
    letter-spacing: -1.68px;
    line-height: 80px;
    -webkit-background-clip: text;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

#chat-btn {
    background-color: rgb(196, 199, 197);
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    bottom: 2vh;
    right: 2vw;
    height: max(4vw, 4vh);
    width: max(4vw, 4vh);
    border-radius: 100%;
    border: none;
    z-index: 2;
}

#chat-btn:hover {
    transform: scale(1.1);
}

#chat-area {
    position: fixed;
    margin: 0;
    padding: 1vh 1vw;
    right: 5vw;
    bottom: 5vh;
    border-radius: 0.4vw;
    border: 1px solid rgb(30, 37, 60);
    background: var(--main-color);
    width: 25vw;
    box-shadow: 3px 3px 20px rgba(200, 200, 200, 0.1);
}

#chat-prev {
    margin: 0;
    width: 100%;
    height: 60vh;
    padding: 8px;
    background-color: rgba(4, 4, 85, 0);
    overflow-y: scroll;
    overflow-x: auto;
}

#chat-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
}

#chat-prev label {
    font-size: 0.85rem;
    margin: 0;
    padding: 20px;
    line-height: 18px;
    color: black;
}

#chat-prev label:nth-of-type(even) {
    background-color: rgb(240, 240, 240);
    color: black;
    border-radius: 10px;
}

#chat-prev label:nth-of-type(odd) {
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 10px;
}

#chat-input {
    position: relative;
    bottom: -1vh;
    left: -1vw;
    margin: 0;
    width: calc(27vw - 22px);
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.4vw;
    background-color: rgb(1, 9, 22);
    color: white;
    height: calc(5vh + 10px) !important;
    font-size: 1rem;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 200%;
        margin-top: 0px;
    }

    #chat-btn {
        padding: max(1vw, 1vh);
    }

    #chat-area {
        width: 70vw !important;
    }
    
    #chat-input {
        width: calc(74vw - 20px) !important;
    }
}

@media screen and (max-width: 700px) {
    nav img {
        width: 100%;
    }

    nav {
        grid-template-columns: 7fr 6fr 6fr 6fr 6fr 1fr 7fr 1fr;
    }

    nav a {
        font-size: 0.7rem;
    }

    #chat-area {
        width: 50vw;
    }
    
    #chat-input {
        width: calc(54vw - 20px);
    }

    html, body {
        line-height: 2rem;
    }

    button {
        padding: 15px 20px;
    }
    
    button:hover {
        transform: scale(1.05);
        cursor: grab;
    }
}
