* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    --size--: 85vh;
    --main-color: black;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-color);
    line-height: 48px;
    line-height: 48px;
    line-height: 3rem;
}

body {
    background: radial-gradient(rgb(16, 16, 53) 10%, transparent 90%);
}

header, section {
    text-align: center;
    padding: 0 5vw;
    padding-top: calc(12vh + 20px);
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

p, h1, h3, label, ul {
    color: white;
}

ul {
    margin-left: 3vw;
}

hr {
    box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.2);
    width: 90vw;
    position: relative;
    left: 5vw;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
    border: 0;
    border-top: 1px ridge blue;
    z-index: 0;
}

footer {
    height: calc(100vh - var(--size--));
    background: black;
    text-align: center;
}

nav img {
    width: 40%;
}

nav {
    z-index: 1;
    position: fixed;
    display: grid;
    align-items: center;
    grid-template-columns: 12fr 4fr 4fr 4fr 4fr 7fr 4fr 1fr;
    background-color: black;
    width: 100%;
    transition: all ease-in-out 300ms;
}

nav:hover {
    background-color: rgb(0, 0, 10);
    border-bottom: rgb(3, 3, 4) ridge 2px;
    border-radius: 6px;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}

nav a:hover {
    font-weight: bold;
    border-bottom: 2px white solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

nav a[href=admin], nav a[href=logout] {
    background: linear-gradient(35deg, rgb(41, 43, 57), black);
    border: 2px solid rgb(34, 40, 53);
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

nav a[href=admin]:hover, nav a[href=logout]:hover {
    transform: scale(1.05);
    font-weight: bold !important;
}

button {
    padding: 20px 30px;
    border: 1px ridge grey;
    border-radius: 10px;
    background-color: rgb(2, 14, 21);
    color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.12);
    transition: all 300ms ease-in-out;
}

button:hover {
    transform: scale(1.05);
    cursor: grab;
}

.left {
    text-align: left;
}

.chat-img {
    width: 180%;
}

#ignore {
    text-align: left;
}

#ignore:hover {
    font-weight: normal;
    border-bottom: none;
}

#main {
    margin: 0;
    padding: 0;
    min-height: var(--size--);
}

#title {
    font-size: 300%;
    margin-top: 30px;
}

#chat-btn {
    background-color: white;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    bottom: 2vh;
    right: 2vw;
    height: max(5vw, 5vh);
    width: max(5vw, 5vh);
    border-radius: 100%;
    border: none;
    box-shadow: 0 0 5px 1px rgb(210, 210, 255);
    z-index: 2;
}

#chat-btn:hover {
    box-shadow: 0 0 15px 1px rgb(210, 210, 255);
    transform: scale(1.1);
}

#chat-area {
    position: fixed;
    margin: 0;
    padding: 1vh 1vw;
    right: 5vw;
    bottom: 5vh;
    border-radius: 0.4vw;
    border: 1px solid rgb(30, 37, 60);
    background: linear-gradient(45deg, transparent, rgb(77, 77, 255));
    width: 25vw;
}

#chat-prev {
    margin: 0;
    width: 100%;
    height: 50vh;
    padding: 8px;
    background-color: #040455;
    background-color: rgba(4, 4, 85, 0);
    overflow-y: scroll;
    overflow-x: auto;
}

#chat-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
}

#chat-prev label {
    font-size: 12.8px;
    font-size: 12.8px;
    font-size: 0.8rem;
    margin: 0;
    padding: 20px;
    line-height: 14px;
}

#chat-prev label:nth-of-type(odd) {
    background-color: rgb(4, 4, 81);
    border-radius: 10px;
}

#chat-prev label:nth-of-type(even) {
    background-color: rgb(19, 21, 54);
    border-radius: 10px;
}

#chat-input {
    position: relative;
    bottom: -1.5vh;
    left: -1vw;
    margin: 0;
    width: calc(24vw - 20px);
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.4vw;
    background-color: rgb(1, 9, 22);
    color: white;
    height: 5vh+10px !important;
}

@keyframes hide {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
    }
}

@keyframes show {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 200%;
        margin-top: 0px;
    }

    #chat-btn {
        padding: max(1vw, 1vh);
    }

    #chat-area {
        width: 70vw !important;
    }
    
    #chat-input {
        width: calc(74vw - 20px) !important;
    }
}

@media screen and (max-width: 700px) {
    nav img {
        width: 100%;
    }

    nav {
        grid-template-columns: 7fr 6fr 6fr 6fr 6fr 1fr 7fr 1fr;
    }

    nav a {
        font-size: 0.7rem;
    }

    #chat-area {
        width: 50vw;
    }
    
    #chat-input {
        width: calc(54vw - 20px);
    }

    html, body {
        line-height: 2rem;
    }

    button {
        padding: 15px 20px;
    }
    
    button:hover {
        transform: scale(1.05);
        cursor: grab;
    }
}