* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    --size--: 85vh;
    --main-color: black;/* #010c15; */
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    line-height: 3rem;
}

header, section {
    text-align: center;
    padding: 0 5vw;
    padding-top: calc(12vh + 20px);
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

p, h1, h3, label, ul {
    color: white;
}

ul {
    margin-left: 3vw;
}

hr {
    box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.2);
    width: 90vw;
    position: relative;
    left: 5vw;
    opacity: 0.5;
    border: 0;
    border-top: 1px ridge blue;
    z-index: 0;
}

footer {
    height: calc(100vh - var(--size--));
    background: black/* linear-gradient(rgb(0, 13, 26), rgb(5, 5, 10)) */;
    text-align: center;
}

nav img {
    width: 40%;
}

nav {
    z-index: 1;
    position: fixed;
    display: grid;
    align-items: center;
    grid-template-columns: 12fr 4fr 4fr 4fr 4fr 7fr 4fr 1fr;
    background-color: black;/* rgb(1, 12, 21, 0.9) */;
    width: 100%;
    transition: all ease-in-out 300ms;
}

nav:hover {
    background-color: rgb(14, 16, 20);/* rgb(5, 18, 35, 1); */
    border-bottom: rgb(3, 3, 4) ridge 2px;
    border-radius: 6px;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}

nav a:hover {
    /* text-decoration: underline;
    color: #007aff; */
    font-weight: bold;
    border-bottom: 2px white solid;
    border-radius: 3px;
}

nav a[href=admin], nav a[href=logout] {
    background: linear-gradient(35deg, rgb(41, 43, 57), black);
    border: 2px solid rgb(34, 40, 53);
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

nav a[href=admin]:hover, nav a[href=logout]:hover {
    transform: scale(1.05);
    font-weight: bold !important;
}

button {
    padding: 20px 30px;
    border: 1px ridge grey;
    border-radius: 10px;
    background-color: rgb(2, 14, 21);
    color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.12);
    transition: all 300ms ease-in-out;
}

button:hover {
    transform: scale(1.05);
    cursor: grab;
}

.left {
    text-align: left;
}

#ignore {
    text-align: left;
}

#ignore:hover {
    font-weight: normal;
    border-bottom: none;
}

#main {
    margin: 0;
    padding: 0;
    min-height: var(--size--);
}

#title {
    font-size: 300%;
    margin-top: 30px;
}

#chat-area {
    position: fixed;
    margin: 0;
    padding: 1vh 1vw;
    right: 5vw;
    bottom: 5vh;
    border-radius: 0.4vw;
    border: 1px solid rgb(30, 37, 60);
    background-color: rgb(3, 3, 41);
    max-width: 20vw;
}

#chat-prev {
    margin: 0;
    width: 100%;
    height: 30vh;
    padding: 8px;
    background-color: rgba(4, 4, 85, 0);
    overflow-y: scroll;
    overflow-x: auto;
}

#chat-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
}

#chat-prev label {
    font-size: 0.8rem;
    margin: 0;
    padding: 20px;
    line-height: 14px;
}

#chat-prev label:nth-of-type(odd) {
    background-color: rgb(4, 4, 81);
    border-radius: 10px;
}

#chat-prev label:nth-of-type(even) {
    background-color: rgb(19, 21, 54);
    border-radius: 10px;
}

#chat-input {
    position: relative;
    bottom: -1.5vh;
    left: -1vw;
    margin: 0;
    width: calc(17vw - 22px);
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.4vw;
    background-color: rgb(1, 9, 22);
    color: white;
    height: 5vh+10px !important;
}

#vis-btn {
    background: linear-gradient(35deg, darkblue, rgb(13, 29, 72));
    color: white;
    border-radius: 10px;
    padding: 5px;
    height: 3.5vh;
    width: 3vw;
    margin: 0;
    min-height: 30px;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}