main {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    width: 30%;
}

.cards {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    height: calc(20vh + 150px);
    width: 25vw;
    padding: 2vh 2vw;
    border: 1px solid;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.cards h1 {
    font-size: 17.6px;
    font-size: 17.6px;
    font-size: 1.1rem;
}

.cards p {
    color: rgb(171, 171, 177);
}

.cards:hover {
    transform: scale(1.05);
}

.cards:nth-of-type(1) {
    -o-border-image: linear-gradient(45deg, black, rgb(77, 77, 255)) 1;
       border-image: linear-gradient(45deg, black, rgb(77, 77, 255)) 1;
}

.cards:nth-of-type(2) {
   -o-border-image: radial-gradient(at bottom, black, rgb(77, 77, 255)) 1;
      border-image: radial-gradient(at bottom, black, rgb(77, 77, 255)) 1;
}

.cards:nth-last-of-type(1) {
    -o-border-image: linear-gradient(270deg, black, rgb(77, 77, 255)) 1 !important;
       border-image: linear-gradient(270deg, black, rgb(77, 77, 255)) 1 !important;
}

#title {
    margin-bottom: 5vh;
}

@media screen and (max-width: 700px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr;
        height: calc(20vh + 150px);
        width: 42vw;
        padding: 2vh 2vw;
    }
    
    .cards h1 {
        font-size: 0.9rem;
    }
    
    .cards p {
        font-size: 0.8rem;
    }

    main {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .cards:nth-of-type(2) {
        -o-border-image: linear-gradient(270deg, black, rgb(77, 77, 255)) 1;
           border-image: linear-gradient(270deg, black, rgb(77, 77, 255)) 1;
    }
    
    .cards:nth-last-of-type(1) {
        -o-border-image: radial-gradient(at bottom, black 75%, rgb(77, 77, 255) 90%) 1 !important;
           border-image: radial-gradient(at bottom, black 75%, rgb(77, 77, 255) 90%) 1 !important;
    }
}