h1 {
    font-size: 32px;
    font-size: 32px;
    font-size: 2rem;
}

p, ul {
    font-size: 19.2px;
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 56px;
    line-height: 56px;
    line-height: 3.5rem;
    font-weight: 200;
}

a{
    color: #8ab4f8;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.4rem;
    }
    
    p, ul {
        font-size: 0.85rem;
        line-height: 1.8rem;
    }
}