<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Glasses Homepage</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <nav>
        <div></div>
        <a href="index">Home</a>
        <a href="about">About Us</a>
        <a href="function">Functioning</a>
        <a href="admin">Sign In</a>
    </nav>
    <div id="main">
        <header>
            <h1 id="title">Smart Glasses</h1>
        </header>
        <main>
            <section>
                <h1>About Us</h1>
                <h3>This webpage contains info on the Smart Glasses by Alex Steiner and Fotios Vaitsopoulos.</h3>
                <h3>This product began with the <a target="_blank" href="https://ai.google.dev/competition">Google Gemini API Developer Competition</a> in mind. However, it has also given us the chance to improve our coding capabilities in multiple fields of programming such as web and app development.</h3>
                <button class="more-btn">See more</button>
            </section>
            <hr>
            <section>
                <h1>How they work</h1>
                <h3>These special glasses contain a microphone and camera which are all connected to a Flutter App and send their inputs to Gemini through its API. Furthermore, it has an earphone so that it can communicate its results with you. A combination of Node, Firebase and Flutter were used in the creation of this final product.</h3>
                <button class="more-btn">See more</button>
            </section>
            <hr>
            <section>
                <h1>Sign-In</h1>
                <p>Sign in to use our chatbot system.</p>
                <button class="more-btn">Sign-In</button>
            </section>
        </main>
    </div>
    <footer>
        <p>Copyright (c) 2024 Alex Steiner</p>
    </footer>
    <script type="text/javascript" src="js/index.ejs"></script>
</body>
</html>