<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | About</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <div id="main">
        <header>
            <h1 id="title">About Us</h1>
        </header>
        <main>
            <section class="left">
                <h1>Team</h1>
                <p>This website is part of the submission for the Gemini API Developer Competition by Alex Steiner, Fotios Vaitsopoulos and Lorenzo Dominijani. We are a group of students attending H-Farm International School of Treviso, we wanted to challenge ourselves by joining the Gemini Developer Competition in order to improve our skill set and create something we could be proud of. The competition itself consists of a worldwide competition hosted by Google, to showcase how the new Gemini model can be implemented in real-world applications, with a cash prize for the winner.</p>
                <p>Unfortunately, we joined the competition one month after it began because we were overwhelmed by internal exams, however, this didn't stop us from joining the competition in early/middle June. We came up with the idea to create smart completly powered by Gemini and fully connected to all Google services such as Google Docs, Google Drive, Gmail, Youtube Music, Google Maps, Google Calendar and Google Events, in order to automate from a single voice command. The glasses being equipped with a camera also give the opportunity to showcase in a real tiem the power of Gemini Pro Vision meaning that the user can simply ask information about what is infront of him and the model will respond in a real time.</p>
            </section>
            <hr>
            <section class="left">
                <h1>Alex Steiner</h1>
                <p>Alex Steiner is one of the most brilliant and hard-working people you'll ever meet. He  is very kind and generous. And he'll tell you the rest.</p>
            </section>
            <hr>
            <section class="left">
                <h1>Fotios Vaitsopoulos</h1>
                <p>I am a young developer who got interested into programming and coding at an early age through a mentor which I used to have. Ever since then I have been constantly studying different fields of programming, from web and game development, by creating simple games and feature-heavy websites, to algorithms, data structures and graphs, which I have used to participate in multiple competitions and to improve my problem-solving skills. Now with the rise of AI I have also begun to show some interest into this field which is why the moment I learnt of this competition I was immediately eager to join.</p>
                <p>I am envisioning that with this project I will be able to greatly increase my knowledge of the Gemini API as well as some aspects of app and web development. I am also hoping to make some sort of impact on society if this product manages to gain some traction.</p>
            </section>
            <hr>
            <section class="left">
                <h1>Lorenzo Dominijani</h1>
                <p></p>
            </section>
        </main>
    </div>
    <input type="hidden" id="logged-in" value="<%= isLoggedIn %>">
    <input type="hidden" id="chats" value="<%= chats %>">
    <script type="text/javascript" src="../js/script.js"> </script>
</body>
</html>