<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | About</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <nav>
        <div></div>
        <a href="index">Home</a>
        <a href="about">About Us</a>
        <a href="function">Functioning</a>
        <a href="order">Order</a>
        <% if (isLoggedIn) { %>
            <a onClick="signOut()">Sign Out</a>
        <% } else { %>
            <a href="admin">Sign In</a>
        <% } %>
    </nav>
    <div id="main">
        <header>
            <h1 id="title">About Us</h1>
        </header>
        <main>
            <section class="left">
                <h1>Team</h1>
                <p>Our team is composed of 2 members, Alex Steiner and Fotios Vaitsopoulos. We are both of the same age and very interested in programming so we have decided to undertake a couple of projects together. After seeing the <a href="https://ai.google.dev/competition" target="_blank">Gemini API Developer Competition</a> we decided to participate together in this ambitious project. Therefore, we got together and planned out what we were going to do throughout these 70 or so days of working on this competition.</p>
                <p>The product which we are submitting into this competition is Gemini Sight which is composed of the smart glasses together with the website and app to accompany them. This website includes information on the entire making process of the smart glasses, information on the team which created it and a chatbot system connected to Gemini which will answer any questions regarding the entire project. Then we have the smart glasses which is the main part of our project. They basically provide auditory and visual feedback to Gemini so that it can then go on to interpret it and output its results through a small speaker next to the users ears. The purpose of these special glasses is to help people interpret strange things which they may encounter on a day to day basis but most importantly it will contain a blind mode which will help blind people navigate through their environment by providing constant directions enabling such people to follow the right direction by avoiding obstacles and any other potential dangers. Finally, the app is just there to connect the glasses to your device so that you can get it to start.</p>
            </section>
            <hr>
            <section class="left">
                <h1>Alex Steiner</h1>
                <p>Alex Steiner is one of the most brilliant and hard-working people you'll ever meet. He  is very kind and generous. And he'll tell you the rest.</p>
            </section>
            <hr>
            <section class="left">
                <h1>Fotios Vaitsopoulos</h1>
                <p>I am a young developer who got interested into programming and coding at an early age through a mentor which I used to have. Ever since then I have been constantly studying different fields of programming, from web and game development, by creating simple games and feature-heavy websites, to algorithms, data structures and graphs, which I have used to participate in multiple competitions and to improve my problem-solving skills. Now with the rise of AI I have also begun to show some interest into this field which is why the moment I learnt of this competition I was immediately eager to join.</p>
                <p>I am envisioning that with this project I will be able to greatly increase my knowledge of the Gemini API as well as some aspects of app and web development. I am also hoping to make some sort of impact on society if this product manages to gain some traction.</p>
            </section>
        </main>
    </div>
    <footer>
        <p>Copyright (c) 2024 Alex Steiner</p>
    </footer>
    <script type="text/javascript" src="../js/script.js"> </script>
</body>
</html>