<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="910242255946-b70mhjrb2225nmapdvsgrr0mk66r9pid.apps.googleusercontent.com">
    <title>Gemini Sight | Admin</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/admin.css" type="text/css">
</head>
<body>
    <nav>
        <div></div>
        <a href="index">Home</a>
        <a href="about">About Us</a>
        <a href="function">Functioning</a>
        <a href="order">Order</a>
        <% if (isLoggedIn) { %>
            <a href="signout">Sign Out</a>
        <% } else { %>
            <a href="admin">Sign In</a>
        <% } %>
    </nav>
    <div id="main">
        <header>
            <h1 id="title">Sign In</h1>
        </header>
        <main>
            <section>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </section>
        </main>
    </div>
    <footer>
        <p>Copyright (c) 2024 Alex Steiner</p>
    </footer>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../js/admin.js"> </script>
</body>
</html>