<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="910242255946-1ai6ut8t5uj9quviagp776rc52b9kdos.apps.googleusercontent.com">
    <title>Gemini Sight | Admin</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/admin.css" type="text/css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div id="main">
        <header>
            <h1 id="title">Sign In</h1>
        </header>
        <main>
            <section>
                <div class="g-signin2" data-callback="onSignIn"></div>
            </section>
        </main>
    </div>
    <input type="hidden" id="logged-in" value="<%= isLoggedIn %>">
    <script type="text/javascript" src="../js/script.js"> </script>
    <script type="text/javascript" src="../js/admin.js"> </script>
</body>
</html>