<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | Admin</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <nav>
        <div></div>
        <a href="index">Home</a>
        <a href="about">About Us</a>
        <a href="function">Functioning</a>
        <a href="admin">Sign In</a>
    </nav>
    <div id="main">
        <header>
            <h1 id="title">Functioning</h1>
        </header>
        <main>
            <section>
                <p>These special glasses contain a microphone and camera which are all connected to a Flutter App and send their inputs to Gemini through its API. Furthermore, it has an earphone so that it can communicate its results with you. A combination of Node, MongoDb and Flutter were used in the creation of this final product.</p>
            </section>
        </main>
    </div>
    <footer>
        <p>Copyright (c) 2024 Alex Steiner</p>
    </footer>
</body>
</html>