<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEMIN-EYE | Functions</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <div id="main">
        <header>
            <h1 id="title">Functioning</h1>
        </header>
        <main>
            <section>
                <p>These special glasses contain a microphone and camera which are all connected to a Flutter App and send their inputs to Gemini through its API. Furthermore, it has an earphone so that it can communicate its results with you. A combination of Node, MongoDb and Flutter were used in the creation of this final product.</p>
            </section>
        </main>
    </div>
    <input type="hidden" id="logged-in" value="<%= isLoggedIn %>">
    <input type="hidden" id="chats" value="<%= chats %>">
    <script type="text/javascript" src="../js/script.js"> </script>
</body>
</html>