<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEMIN-EYE | Home</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <div id="main">
        <header>
            <h1 id="title">Smart Glasses</h1>
        </header>
        <main>
            <section>
                <h1>About Us</h1>
                <p>Learn more about our team composed of Alex Steiner, Fotios Vaitsopoulos and Lorenzo Dominijani.</p>
                <a href="about"><button class="more-btn">See more</button></a>
            </section>
            <hr>
            <section>
                <h1>How they work</h1>
                <p>Find out how this proudct works and what it does.</p>
                <a href="function"><button class="more-btn">See more</button></a>
            </section>
            <% if (!isLoggedIn) { %>
            <hr>
            <section>
                <h1>Sign In</h1>
                <p>Sign in to use our chatbot system to help answer any of your questions.</p>
                <a href="admin"><button class="more-btn">Sign In</button></a>
            </section>
            <% } %>
        </main>
    </div>
    <input type="hidden" id="logged-in" value=<%= isLoggedIn %>>
    <input type="hidden" id="chats" value="<%= chats %>">
    <script type="text/javascript" src="../js/script.js"> </script>
</body>
</html>