<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | Page Not Found</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <nav>
        <div></div>
        <a href="index">Home</a>
        <a href="about">About Us</a>
        <a href="function">Functioning</a>
        <a href="order">Order</a>
        <% if (isLoggedIn) { %>
            <a href="signout">Sign Out</a>
        <% } else { %>
            <a href="admin">Sign In</a>
        <% } %>
    </nav>
    <div id="main">
        <header>
            <h1 id="title">Error 404. Page not found. Try again later.</h1>
        </header>
        <main>
        </main>
    </div>
    <footer>
        <p>Copyright (c) 2024 Alex Steiner</p>
    </footer>
</body>
</html>