<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | Page Not Found</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <div id="main">
        <header>
            <h1 id="title">Error 404. Page not found. Try again later.</h1>
        </header>
        <main>
        </main>
    </div>
    <input type="hidden" id="logged-in" value="<%= isLoggedIn %>">
    <script type="text/javascript" src="../js/script.js"> </script>
</body>
</html>