<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | Order</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/order.css" type="text/css">
</head>
<body>
    <div id="main">
        <header>
            <h1 id="title">Order</h1>
        </header>
        <main>
            <section id="bying-section">
                <div>
                    
                </div>
            </section>
        </main>
    </div>
    <input type="hidden" id="logged-in" value="<%= isLoggedIn %>">
    <script type="text/javascript" src="../js/order.js"></script>
    <script type="text/javascript" src="../js/script.js"> </script>
</body>
</html>