<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Sight | Sign Up</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/admin.css" type="text/css">
</head>
<body>
    <nav>
        <div></div>
        <a href="index">Home</a>
        <a href="about">About Us</a>
        <a href="function">Functioning</a>
        <a href="order">Order</a>
        <a href="admin">Sign In</a>
    </nav>
    <div id="main">
        <header>
            <h1 id="title">Sign-Up</h1>
        </header>
        <main>
            <section>
                <form action="/signup" method="POST">
                    <input type="text" placeholder="Username...">
                    <input type="text" placeholder="Password...">
                    <button>Submit</button>
                </form>
            </section>
        </main>
    </div>
    <footer>
        <p>Copyright (c) 2024 Alex Steiner</p>
    </footer>
</body>
</html>